
/*
 * -------------------------------------------------
 *  UCT-YAMP Nextflow config file (adapted from YAMP)
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest
{
  homePage = 'https://github.com/kviljoen/YAMP'
  description = 'YAMP : Yet Another Metagenomic Pipeline'
  mainScript = 'main.nf'
}


trace 
{
    enabled = true
    fields = 'task_id, name, status, exit, module, submit, start, complete, duration, realtime, %cpu, rss, vmem, peak_rss, peak_vmem'
}

timeline 
{
    enabled = true
}


// Some help with time stamps
import java.text.SimpleDateFormat

// Global default params, used in configs
params {
  name = false
  version = 0.1 //pipeline version
  // Pipeline Options
  reads = "data/*{R1,R2}.fastq.gz"
  timestamp = new SimpleDateFormat("yyyy-MM-dd").format(new java.util.Date())
  outdir = "./" + timestamp + "-uctyamp"
	

  //Whether the temporary files resulting from MetaPhlAn2 and HUMAnN2 should be kept
  keepCCtmpfile = false 

  //BBduk parameters for trimming	
  qin=33 //Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
  kcontaminants = 23 //Kmer length used for finding contaminants	
  phred = 10 //regions with average quality BELOW this will be trimmed 
  minlength = 60 //reads shorter than this after trimming will be discarded
  mink = 11 //shorter kmers at read tips to look for 
  hdist = 1  //maximum Hamming distance for ref kmers            

  //BBwrap parameters for decontamination	
  mind = 0.95 //Approximate minimum alignment identity to look for
  maxindel = 3 //longest indel to look for
  bwr=0.16 //restrict alignment band to this
	
  //MetaPhlAn2 parameters 
  bt2options="very-sensitive" //presets options for BowTie2
}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }
  
  uct_hex {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uct_hex.config'
  }
}
  
// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
