/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/cbio/users/katie/singularity_containers/" 
}


   	/*--------------------------------*
 	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
params {

   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}


process {
   container = "/cbio/users/katie/singularity_containers/6c884bc3ab5c-2017-12-15-c6ae6fedbccd.img"
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main'
}

timeline	{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_timeline.html"
	}
	
report		{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_report.html"
	}
	
trace		{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_trace.txt"
	}
	
dag		{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_DAG.svg"
	}


executor{
   jobName = { "$task.tag" }
   queueSize = 20
}

params {
   max_memory = 256.GB
   max_cpus = 64
   max_time = 1000.h
}
